<a href="https://colab.research.google.com/github/SubstantialCattle5/Panda_notes/blob/main/panda_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Reading the file -

In [ ]:
df = pd.read_csv('/content/sample_data/salaries_by_college_major.csv')

df.head() :  shows the first 5 rows of our dataframe.

In [ ]:
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

To see the number of rows and columns we can use the shape attribute:

In [ ]:
df.shape

(51, 6)

 We can access the column names directly with the columns attribute.

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

NaN (Not A Number) values in our dataframe. NAN values are blank cells or cells that contain strings instead of numbers. Use the .isna() method and see if you can spot if there's a problem somewhere.

In [ ]:
df.isna()

In [ ]:
df.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

We don't want this row in our dataframe. There's two ways you can go about removing this row. The first way is to manually remove the row at index 50. The second way is to simply use the .dropna() method from pandas

In [ ]:
clean_df = df.dropna()
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

To access a particular column from a data frame we can use the square bracket notation,

In [ ]:
clean_df['Starting Median Salary']

To find the highest starting salary we can simply chain the .max()

In [ ]:
clean_df['Starting Median Salary'].max()

.idxmax() method will give us index for the row with the largest value.

In [ ]:
clean_df['Starting Median Salary'].idxmax()

43

To see the name of the major that corresponds to that particular row, we can use the .loc (location) property.

In [ ]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

If you don't specify a particular column you can use the .loc property to retrieve an entire row

In [ ]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [ ]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmax()]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

Which college major has the lowest starting salary and how much do graduates earn after university?

In [ ]:
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

34000.0

'Spanish'

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
print(clean_df['Undergraduate Major'].loc[clean_df['Mid-Career Median Salary'].idxmin()])
clean_df['Starting Median Salary'].loc[clean_df['Mid-Career Median Salary'].idxmin()]

Education

34900.0

**Lowest Risk Majors**

A low-risk major is a degree where there is a small difference between the lowest and highest salaries. In other words, if the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.

Simple Arithmetic Operation

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

Alternatively, you can also use the .subtract() method.

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])